<form [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-12 gap-2 p-4 h-full">
        @for (component of components; track $index) {
            <div class="flex flex-col"
                [class]="component.klass">
                <label class="text-slate-400">{{ component.label }}</label>
                @if (component.type !== DYNAMIC_FORM_TYPE.CUSTOM) {
                    <ng-container #anchor></ng-container>
                } @else {
                    @if (component.ref) {
                        <ng-container *ngTemplateOutlet="component.ref; context: { $implicit: component.control }"></ng-container>
                    } @else {
                        <span>Template ref error</span>
                    }
                }
            </div>
        }
        <ng-container [ngTemplateOutlet]="control || defaultControl"></ng-container>
    </div>
</form>

<ng-template #defaultControl>
    <div class="col-span-12 flex gap-2 justify-end mt-4">
        <button nz-button nzType="default" type="button" (click)="onReset()">Reset</button>
        <button nz-button 
            nzType="primary" 
            type="submit" 
            class="bg-blue-400"
            [disabled]="form.invalid">
            Submit
        </button>
    </div>
</ng-template>